.search-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chart-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
